@model HgWorkflow.Models.WorkOrder

<div class="not-printable">
    @{
        ViewBag.Title = "Details";
    }
</div>
<link href="~/Content/NewStyle.css" rel="stylesheet" />

<div class="print-page">
    <div class="formput">
        <form class="print-page">
            
                <img src="~/Images/logo.png" width="50",height="50"/>
                <h4>Work-order</h4>
                
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkOrderId)
                    </dt>

                    <dd class="left"><b>
    @Html.DisplayFor(model => model.WorkOrderId)
</b>
                    </dd>

                                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerMobileNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerMobileNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JewelleryDescription1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JewelleryDescription1)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WorkToBeDone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkToBeDone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.JewelleryDescription2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JewelleryDescription2)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.WorkToBeDone2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkToBeDone2)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.JewelleryDescription3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JewelleryDescription3)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.WorkToBeDone3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkToBeDone3)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductGivenOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductGivenOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductToBeReturnedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductToBeReturnedOn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AmountEstimate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AmountEstimate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
                <div>
                    <span  class="pull-right"> ______________________________<br />
                    Customer signature</span>
                    <span class="pull-left"> ______________________________<br />
                    Agent signature</span>
                </div>
                <div class="not-printable">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ||
                        @Html.ActionLink("Back to List", "Index")||

                        <a href="javascript:window.print()"><b>Print</b></a>
                    </p>
                </div>
                        </form>
            </div>
    </div>

