@model IEnumerable<HgWorkflow.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/NewStyle.css" rel="stylesheet" />
<div class="create-page">
    <div class="form">
        <div class="form-horizontal">
            <hr />
                    <p>
                        @Html.ActionLink("Create new", "Create")
                    </p>
                    <table class="table" style="text-align:left;">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkOrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GoldSmithName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.Label("Contact Number")
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.Label("ACTIVITY")
                            </th>
                            <th></th>
                        </tr>
                        @if (Model == null)
                        {
                            <span> No Items found</span>

                        }
                        else
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkOrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GoldSmithName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerMobileNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) ||
                                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
