@model IEnumerable<HgWorkflow.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/NewStyle.css" rel="stylesheet" />


<div class="Main-page">
    <div class="form">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkOrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoldSmithName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerMobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkOrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoldSmithName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerMobileNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) ||
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
